# Ignorar archivos compilados
*.class

# Ignorar la carpeta de compilación de Maven
target/

# Ignorar configuración del IDE
.idea/
*.iml

# Ignorar archivos de logs
*.log

# Ignorar configuración de Maven local
pom.xml

# Ignorar archivos sensibles
demo/src/main/resources/hibernate.cfg.xml
demo/src/main/java/com/zeus/until/HibernateUtil.java